<a href="https://colab.research.google.com/github/23r91a7331-prog/chanveer/blob/main/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer

# Sample dataset
data = {
    "Age": [25, 30, None, 40, 30],
    "Salary": [50000, 60000, 55000, None, 60000],
    "City": ["Delhi", "Mumbai", "Delhi", "Chennai", "Mumbai"]
}

df = pd.DataFrame(data)

print("Original Data:")
print(df)

# Remove duplicates
df = df.drop_duplicates()

# Separate columns
num_cols = df.select_dtypes(include=["int64", "float64"]).columns
cat_cols = df.select_dtypes(include=["object"]).columns

# Handle missing values
num_imputer = SimpleImputer(strategy="mean")
df[num_cols] = num_imputer.fit_transform(df[num_cols])

# Encode categorical data
df = pd.get_dummies(df, columns=cat_cols)

# Scale numerical data
scaler = StandardScaler()
df[num_cols] = scaler.fit_transform(df[num_cols])

print("\nPreprocessed Data:")
print(df)

Original Data:
    Age   Salary     City
0  25.0  50000.0    Delhi
1  30.0  60000.0   Mumbai
2   NaN  55000.0    Delhi
3  40.0      NaN  Chennai
4  30.0  60000.0   Mumbai

Preprocessed Data:
        Age    Salary  City_Chennai  City_Delhi  City_Mumbai
0 -1.234427 -1.414214         False        True        False
1 -0.308607  1.414214         False       False         True
2  0.000000  0.000000         False        True        False
3  1.543033  0.000000          True       False        False

In [7]:
import pandas as pd

# Create raw dataset
data = {
    "Student_ID": [1, 2, 3, 3, 4],
    "Attendance": [85, None, 75, 75, 90],
    "Result": ["Pass", "Pass", "Fail", "Fail", None]
}

df = pd.DataFrame(data)

print("Raw Data:")
print(df)

# Remove duplicate rows
df = df.drop_duplicates()

# Handle missing values
df["Attendance"] = df["Attendance"].fillna(df["Attendance"].mean())
df["Result"] = df["Result"].fillna("Pass")

# Encode categorical column
df["Result"] = df["Result"].map({"Pass": 1, "Fail": 0})

print("\nPreprocessed Data:")
print(df)

Raw Data:
   Student_ID  Attendance Result
0           1        85.0   Pass
1           2         NaN   Pass
2           3        75.0   Fail
3           3        75.0   Fail
4           4        90.0   None

Preprocessed Data:
   Student_ID  Attendance  Result
0           1   85.000000       1
1           2   83.333333       1
2           3   75.000000       0
4           4   90.000000       1

Now that `data.csv` has been created, you can re-run the previous cell (`AqPakjrft6Gl`) to execute the full preprocessing pipeline.